{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-unused-vars": 2,
    "no-trailing-spaces": 2,
    "no-console": 2,
    "prefer-template": 2,
    "quotes": [2, "single", { "avoidEscape": true }],
    "react/no-redundant-should-component-update": 2,
    "react/sort-comp": 2,
    "semi": [2, "never"]
  }
}
